<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>更新数据</title>
</head>
<body>
@if{context.get("result") == null || context.get("result") == 0}
<form action="/reload_json" method="post" enctype="multipart/form-data">
    <p>Json: <input type="file" name="json"></p>
    <input type="submit" value="上传"/>
</form>
@else{context.get("result") == 1}
正在上传，请稍后...
@else{context.get("result") == 2}
上传成功，请在游戏中reload更新<br>
<a href="/reload_json">继续上传</a>
@else{context.get("result") < 0}
上传失败！！
@end{}
<br>
<a href="/gm">返回</a>
</body>
</html>
