<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<input type="file" name="file" id="fileid" onchange="getfilename();"/>
<script>
    function getfilename() {
        var file = $("#fileid").val();
        var pos = file.lastIndexOf("\\");
        return file.substring(pos + 1);
        var strFileName = file.replace(/^.+?\\([^\\]+?)(\.[^\.\\]*?)?$/gi, "$1");  //正则表达式获取文件名，不带后缀
        var FileExt = file.replace(/.+\./, "");   //正则表达式获取后缀
    }
</script>
</body>
</html>
